<div class="panel">
  <div class="panel-body">

  <ol class="breadcrumb">
    <li><a href="#" class="active">Home</a></li>
  </ol>

    <div class="dashboard-status">
      <!-- not ever synced and file upload -->
      <p class="bg-warning" ng-if="agencyLocation.integrationType === 'FileUpload' && status.lastSyncActivityDays === null">If looks like you are new here. Be sure to <a ui-sref="setupInstruction">read the instructions</a> to get started.</p>
      <!-- not ever synced and NOT file upload -->
      <p class="bg-warning" ng-if="agencyLocation.integrationType !== 'FileUpload' && status.lastSyncActivityDays === null ">Welcome! Let's get started and setup your integration. Your implementation specialist is here to help you <a ui-sref="setupInstruction">get started</a>. If you're feeling brave, <a ui-sref="setupInstruction">dive right in!</a></p>
      <!-- 2+ days since synced and NOT file upload -->
      <p class="bg-warning" ng-if="agencyLocation.integrationType !== 'FileUpload' && status.lastSyncActivityDays > 2 ">It's been {{status.lastSyncActivityDays}} days since you last synced. That can't be good! Is everything <a ui-sref="setupInstruction">setup correctly</a> Contact us if you need <a ui-sref="help">help</a>.</p>
      <!-- file upload and sync in last 4 days -->
      <p class="bg-success" ng-if="agencyLocation.integrationType === 'FileUpload' && status.lastSyncActivityDays !== null && status.lastSyncActivityDays <= 4">Your {{agencyLocation.exportType}} system integration is running smoothly.</p>
      <!-- NOT file upload and sync in last day -->
      <p class="bg-success" ng-if="agencyLocation.integrationType !== 'FileUpload' && status.lastSyncActivityDays !== null && status.lastSyncActivityDays <= 1">Your {{agencyLocation.exportType}} system integration is running smoothly.</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4" ng-show="agencyLocation.integrationType == 'FileUpload'">
          <div class="btn btn-primary btn-lg" ui-sref="fileUpload"><span class="fa fa-cloud-upload"></span> Upload <span ng-bind="agencyLocation.exportType"></span> File</div>
          <div>
            Upload your <span ng-bind="agencyLocation.exportType"></span> file. This should be done at least twice a week.
          </div>
        </div>

        <div class="col-md-4" ng-show="agencyLocation.integrationType != 'FileUpload'">
          <div class="btn btn-default btn-lg" ui-sref="setupInstruction"><span class="glyphicon glyphicon-list-alt"></span> Setup Instructions</div>
          <div>
            Don't worry. Following the instruction to set up the import.
          </div>
        </div>
        <div class="col-md-4" ng-show="agencyLocation.integrationType == 'FileUpload'">
          <div class="btn btn-default btn-lg" ui-sref="setupInstruction"><span class="glyphicon glyphicon-list-alt"></span> <span ng-bind="agencyLocation.exportType"></span> Export Instructions</div>
          <div>
            Follow these directions to export your data from <span ng-bind="agencyLocation.exportType"></span>.
          </div>
        </div>

        <div class="col-md-4">
          <div class="btn btn-default btn-lg" ui-sref="help"><span class="fa fa-question-circle"></span> Help</div>
          <div>
            Find common questions and resolve your problem.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="btn btn-default btn-lg" ui-sref="changeRequest"><span class="fa fa-edit"></span> Change Request</div>
          <div>
            Submit your change request here and we will update to the system for you as soon as possible.
          </div>
        </div>
        <div class="col-md-4">
          <div class="btn btn-default btn-lg" ui-sref="status"><span class="fa fa-dashboard"></span> Status</div>
          <div>
            We provide you a tool to monitor the status of message queues.
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div ar-moonray-light></div>

    <hr>

    <div class="well well-lg">
      Your working on <strong ng-bind="informationMask" ng-click="toggleInformation()"></strong>, your export system is <strong ng-bind="agencyLocation.exportType"></strong>. If you want to change location, please click <a href ng-click="changeLocation()">here</a>
    </div>

  </div>

